<html>
	<head>
		<title>Christmas Card Builder</title>
		<link rel="stylesheet" href="public/details.css">
	</head>
	<body>
		<form action="/submitDetails" method="post"><br>
		<h1>Christmas Cards</h1>
			<input type="text" placeholder="To" name="to"/><br>
			<input type="text" placeholder="From" name="from"/><br>	
			<textarea rows="10" maxlength="130"  cols="35" placeholder="Message" name="message"></textarea><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
