<html>
	<head>
		<title>Christmas Card Builder</title>
		<link rel="stylesheet" href="public/details.css">
	</head>
	<body>
	<div class="container">
	<!-- Images -->
	<img src="assets/bulb.png" class="bulb">
	<img src="assets/bulb.png" class="bulb2"><img>

	<!-- Form -->
		<form action="/submitDetails" method="post"><br>
		<h1>Christmas Card</h1>
			<input type="text" placeholder="To" name="to"/><br>
			<input type="text" placeholder="From" name="from"/><br>	
			<textarea rows="10" maxlength="130"  cols="35" placeholder="Message" name="message"></textarea><br>
			<button type="submit">Submit</button>
		</form>


	<img src="assets/globe.png" class="globe"><img>
	<img src="assets/gift.png" class="gift"><img>
	</div>
	</body>
</html>
