<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Css Christmas Card</title>
      <link rel="stylesheet" href="public/style.css">
</head>

<body>

  <div class="container">
 <div class="title">
  Merry Christmas
 </div>
 <div class="message">
  <p class="To"> To <span class="to"><i><%= data.to  %></i>,</span> </p>
  <p class="content"><%= data.message %></p>
  <p class="from">From <span class="to"><i><%= data.from  %>.</i></span></p>
  <img src="https://images.vexels.com/media/users/3/133481/isolated/preview/87fb1ec069f5cfda854ad4de44855804-christmas-tree-flat-icon-by-vexels.png" class="tree">
  
  <img src="https://www.misskatecuttables.com/uploads/shopping_cart/9641/large_snowman-with-lights.png" class="snowman"/>
 </div>
</div>
  
  

</body>

</html>
